<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>World eCycling</title>
<style type="text/css">
.Title_Style {
	color: #000099;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold
}
.Price_Style {
	color: #FF0000;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold
}
.Body_Style {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal
}
.Section_Style {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: center;

}
.List_Style {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.left {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
}
.left_tight {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.center {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.center_tight {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.right {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: right;
}
.Hightlight {
	background-color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>

<span class="Body_Style">

<p class="center">
<img height="81" src="http://home.comcast.net/~jonlighthall/Photographs/logo%20banner.gif" width="700" /></p>
		</span>
<p class="center_tight"><span class="Title_Style">Microsoft Xbox with Accessories and Games</span></p>
<p class="center_tight">Model 64245670<span class="Body_Style">7644206</p>
<p class="center_tight"><span class="Price_Style"><strong>
<b class="ps-larger-t">$392.86 </b></strong>of Accessories!</span></p>
		</span>
<p class="center"><span class="Section_Style">

<span class="Body_Style">

<em class="center">This Auction Includes:</em></span></span><span class="Body_Style"><table style="width: 100%" cellpadding="0" class="right" cellspacing="5">
	<tr>
		<td style="width: 33%" class="right">
		<img height="225" src="http://home.comcast.net/~jonlighthall/Photographs/DSC01746.JPG" width="300" /></td>
		</span>
		<td class="left_tight">
		<p class="left_tight">

		<span class="Title_Style">Palm Z22</span></p>
		<p class="left_tight">

		<span class="Price_Style">$99.00 MSRP</span></p>

<span class="Body_Style">

		<p class="Body_Style">Original Microsoft Xbox</p>
		<p class="left_tight">Features:</p>
		<font face="arial, helvetica" size="3">
		<li class="Body_Style">Military-grade G15 XLT lenses for colorless shade 
		(58 mm)</li>
		<li class="Body_Style">Wrap-around ear bars for secure, comfortable fit 
		(160 mm)</li>
		<li class="Body_Style">Brow-bar and nose pads for extreme comfort</li>
		<li class="Body_Style">
		<p class="left_tight">&nbsp;</p>
		</li>
		</font>
		</td>
	</tr>
	<tr>
		<td style="width: 33%" class="right">

<span class="Body_Style">

		<img height="225" src="http://home.comcast.net/~jonlighthall/Photographs/DSC01763.JPG" width="300" /></span></td>
		<td class="left_tight">
		<p class="left_tight">

<span class="Title_Style">

		Microsoft Xbox Controller</span></p>

<span class="Body_Style">

		<p class="Body_Style">Original Microsoft Xbox Controller, S-type.&nbsp; 
		Although &quot;S&quot; stands for &quot;small&quot; this standard controller is still large 
		enough for adult hands.</p>
		</span>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 33%" class="right">

		<img height="400" src="http://home.comcast.net/~jonlighthall/Photographs/DSC01760.JPG" width="300" /></td>
		</span>
		<td class="left_tight">
		<p class="left_tight"><span class="Title_Style">9 Games</span></p>

<span class="Body_Style">

		<p class="left_tight"><span class="Price_Style"><strong>
		<b class="ps-larger-t">$272.91 </b>Value</strong></span></p>
		<p class="Body_Style">All games are in fully-working, playable condition 
		and include case and instructions.</p>
		<p class="left_tight">Includes:</p>
		<font face="arial, helvetica" size="3">
		<li class="Body_Style">Halo</li>
		<li class="Body_Style">Halo 2</li>
		<li class="Body_Style">Star Wars: Knights of the Old Republic</li>
		<li class="Body_Style"><font face="arial, helvetica" size="3">Star Wars: 
		Knights of the Old Republic II, The Sith Lords</font></li>
		<li class="style2">Star Wars: Battlefront II</li>
		<li class="style2">F1 2001</li>
		<li class="style2">Indiana Jones and the Emporor&#39;s Tomb (new)</li>
		<li class="style2">From Russia with Love (unopened)</li>
		<li class="style2">Pocket Bike Racer (Burger King)</li>
		</font></span>

<span class="Body_Style">

		&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 33%" class="right">
		<img height="225" src="http://home.comcast.net/~jonlighthall/Photographs/DSC01751.JPG" width="300" /></td>
		<td class="left_tight">
		<p class="left_tight">

<span class="Title_Style">

		Mad Catz Controller and Extension Cord</span></p>

<span class="Body_Style">

		<p class="left_tight"><span class="Price_Style"><strong>
		<b class="ps-larger-t">$44.98 </b>Value</strong></span></p>
		<p class="Body_Style">Everything you need for two-player games and for 
		playing from across the room without expensive wireless contollers.</p>
		</span>&nbsp;</td>
	</tr>
	</table>
</p>
<p class="center"><span class="Section_Style"><em>Notes on This Auction:</em></span><table style="width: 100%" class="Hightlight">
	<tr>
		<td class="center">This was my grandfather&#39;s.&nbsp; I don&#39;t think it&#39;s 
		been used.&nbsp; It&#39;s certainly in brand new condition.</td>
	</tr>
	</table>
</p>
<p class="center"><span class="Section_Style"><em>Frequently Asked Question (FAQ):</em></span><table style="width: 100%" class="Hightlight">
	<tr>
		<td style="width: 33%" class="right">
		<img height="249" src="http://home.comcast.net/~jonlighthall/Photographs/pennies.jpg" width="300" /></td>
		<td class="left_tight">
		<p align="left" class="Title_Style"><b><font face="Arial">Why is the 
		starting price so low?</font></b></p>
		<p align="left" class="Body_Style">Bid with confidence!&nbsp; Don&#39;t be 
		scared off by a low starting price as a possible sign of inferior goods 
		- I always start my auctions at a low price, without a reserve price or 
		a Buy It Now price.&nbsp; That way my items are sure to sell and I 
		always get (in my view) the full
		<a href="http://en.wikipedia.org/wiki/Market_value" target="_blank">
		market value</a> for my items.&nbsp; As a result, <strong>I will never 
		end&nbsp; an auction early or add a Buy It Now option.</strong>&nbsp; 
		Please do not ask me to.&nbsp; </p>
		</td>
	</tr>
	<tr>
		<td style="width: 33%" class="right">
		</a>
		<img height="266" src="http://home.comcast.net/~jonlighthall/Photographs/PACKAGEs.jpg" width="300" /></td>
		<td class="style7">
		<p align="left" class="Title_Style"><b><font face="Arial">How soon will 
		the item be shipped?</font></b></p>
		<p align="left" class="Body_Style"><font face="Arial">I pride myself on 
		very quick shipping.&nbsp; Generally, I ship on the same day I receive 
		payment, usually within a few hours.&nbsp; Items usually get packed 
		before the auction is over and I live right next to the Post Office.</font></p>
		<p align="left" class="Body_Style"><font face="Arial">If you need the 
		item in a hurry, I offer expedited 		<a href="blank%20eBay%20HTML%203b%20no%20BIN.htm#ShippingPayment">
		shipping options</a> on all my listings.</font></p>
		<p align="left" class="Body_Style">Also, please note that if one of my 
		listing offers free shipping, that only applies to standard shipping 
		(e.g., USPS Media Mail or Parcel Post).&nbsp; Expedited shipping and 
		international shipping will always be charged at full cost.</p>
		</td>
	</tr>
	</table>
</p>
<p class="center">
<table style="width: 100%">
	<tr>
		<td style="width: 33%" class="right">
		<img height="90" src="http://home.comcast.net/~jonlighthall/Photographs/Logo.jpg" width="310" /></td>
		<td class="Body_Style">
		<p style="margin-top: 0px; margin-bottom: 0px;" class="left">
		<strong class="left_tight">I 
		personally guarantee your satisfaction!<br />
		</strong>
		<a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=jonlighthall&amp;ftab=FeedbackAsSeller" target="_blank">Read my feedback reviews</a>: buy from me and you won&#39;t be disappointed!<br />
		If you 
		have any questions, please feel free to email me at
		<a href="mailto:JonLighthalleBay@msn.com">JonLighthalleBay@msn.com</a> </p>
		</td>
	</tr>
	</table>
</p>

</body>

</html>