
<head>
<style>
<!--
.Body_Style {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal
}

.center {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.ebay-blue {
	font-family: Arial, Helvetica, sans-serif;
	color: #0064D2;
	font-weight: bold; 
	size: "4";
	font-size: medium;
}
-->
</style>
<base target="_blank">
</head>

<p align="center" style="margin-top: 0; margin-bottom: 0">
<img alt="Jon Lighthall's World eCycling" src="http://members.shaw.ca/jonlighthall/Photographs/ebay_logo_1400.png" width="700"></p>
<p align="center" style="margin-top: 0; margin-bottom: 0" class="ebay-blue">
All items must sell&mdash;no reasonable offer will be declined!</p>

<p align="center" >
<span class="Body_Style">
For sale, a lightly-used 2011 Chevrolet Cruze Eco.&nbsp; This is a lease vehicle 
with 17 months (529 days) left on a 36-month lease.&nbsp; The lease price is 
$269.89.&nbsp; The vehicle has 16,224 miles on it, which is 2,373 below the 
lease budget.
<p align="center" class="Body_Style">

<br>Actual item (right-click to enlarge).</p>

<p align="center" >

</span>

<span class="ebay-blue">Offers Welcome!</span><font face="Arial">
<br>
All of my items are guaranteed or your money back. 
<br>
Cash and PayPal accepted.<br>
All items are located near
<a href="https://maps.google.ca/maps?hl=en&amp;sugexp=les%3B&amp;gs_rn=1&amp;gs_ri=hp&amp;tok=UOXOVc2fbeQl5fA1DSMCTw&amp;cp=11&amp;gs_id=q&amp;xhr=t&amp;q=io+triumphe&amp;newwindow=1&amp;rlz=1C1CHFX_enCA518CA518&amp;bav=on.2,or.r_gc.r_pw.r_cp.r_qf.&amp;bvm=bv.1357700187,d.cGE&amp;ion=1&amp;biw=1366&amp;bih=578&amp;um=1&amp;ie=UTF-8&amp;sa=N&amp;tab=wl">
Thunderbird &amp; West Mall</a> on UBC campus. </font>

