
<head>
<style>
<!--
.Body_Style {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal
}

.center {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.ebay-blue {
	font-family: Arial, Helvetica, sans-serif;
	color: #0064D2;
	font-weight: bold; 
	size: "4";
	font-size: medium;
}
-->
</style>
<base target="_blank">
</head>
<font face="Arial">

<p align="center" style="margin-top: 0; margin-bottom: 0">
<img alt="Jon Lighthall's World eCycling" src="http://members.shaw.ca/jonlighthall/Photographs/ebay_logo_1400_craigslist.png" width="700">

<font size="4" color="blue"><b>
<br>All items must sell&mdash;no reasonable offer will be declined!
</b>
</font>
</p>

<p align="center" >
For sale, a 
used black office chair.
<p align="center" >
<img height="800" src="http://members.shaw.ca/jonlighthall/Photographs/_DS18282%20(519x800).jpg" width="519"></p>

<p align="center" >
<font size="4" color="blue"><b>Offers Welcome!</b></font>
<br>All of my items are guaranteed or your money back.
<br>Cash, PayPal, and Interac e-Transfers accepted.</p>
</font>


