<style>
<!--
.Body_Style {
font-family: Arial, Helvetica, sans-serif;
font-style: normal
}
.auto-style1 {
	font-family: Arial;
}
.center {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
-->
</style>
<p align="center" style="margin-top: 0; margin-bottom: 0">
<font face="Arial">
<img border="0" src="http://home.comcast.net/~jonlighthall/Photographs/eBay%20banner%20Logo%20-%20no%20name.png" width="700" height="81"><br>
</font><b>
<font size="4" face="Arial" color="#000080">All items must sell—no 
reasonable offer will be declined!</font></b></p>

<p align="center" class="auto-style1">
<span class="Body_Style">
For sale, a lightly-used 2011 Chevrolet Cruze Eco.&nbsp; This is a lease vehicle 
with 17 months (529 days) left on a 36-month lease.&nbsp; The lease price is 
$269.89.&nbsp; The vehicle has 16,224 miles on it, which is 2,373 below the 
lease budget.</span><span class="Body_Style"><p align="center">
<br>Actual item (right-click to enlarge).</p>

<p align="center">

</span>

<b><font face="Arial">&nbsp;</font><font size="4" face="Arial" color="#000080">Offers Welcome!</font></b><font face="Arial"><b>
<br>
</b>All of my items are guaranteed or your money back. 
<br>
Cash and PayPal accepted.<br>
All items are located near
<a target="blank" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=59th+%26+Adams+St,+Willowbrook,+IL+60559&sll=41.748808,-87.97794&sspn=0.027343,0.077162&ie=UTF8&hq=&hnear=W+59th+St+%26+S+Adams+St,+Westmont,+DuPage,+Illinois+60559&z=16">
Cass &amp; 59th St.</a> in Westmont, IL. </font>

